# Autoconf stuff
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
*.m4
missing
Makefile
config.h
config.log
config.status
.deps
.libs
stamp-h1
lib*.pc
libtool
*.*~
test-driver
tests/tests.log
tests/tests.trs
tests/test-suite.log

# Compilation fluff
*.o
*.lo
*.la

# Generated docs
doc/doxygen/
doc/*.tag
doc/game*.1
doc/game*.html

# Compiled binaries
examples/gametls
examples/gameimg
tests/tests
utils/dumpb800
utils/dumppal

# SWIG output files
python/gamegraphics.py
python/gamegraphics_wrap.*
python/*.pyc

# External code
examples/png++/